@model IEnumerable<IceCreamClient.Models.Comment>
@{
    ViewData["Title"] = "Index";
}

<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><a asp-action="Index" asp-controller="Comment">Comment</a></li>
                    <li><span>Datatable</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Comment List</h4>
                    @if (TempData["Error"] != null)
                    {
                        <div>
                            <p style="color: darkred; font-weight: bold;">@TempData["Error"]</p>
                        </div>
                    }
                    @if (TempData["Success"] != null)
                    {
                        <div>
                            <p style="color: darkgreen; font-weight: bold;">@TempData["Success"]</p>
                        </div>
                    }
                    <div class="data-tables datatable-primary">
                        <table id="dataTable3" class="text-center">
                            <thead class="text-capitalize">
                                <tr>
                                    <th>No.</th>
                                    <th>Comment</th>
                                    <th>Recipe ID</th>
                                    <th>Is Replied</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">@item.Content</td>
                                        <td>@item.RecipeId</td>
                                        @if (item.isReplied == true)
                                        {
                                            <td style="color: darkgreen; font-weight: bold;">True</td>
                                        }
                                        else
                                        {
                                            <td style="color: darkred; font-weight: bold;">False</td>
                                        }
                                        <td>
                                            <a asp-action="Reply" asp-route-Id="@item.Id">Reply</a> |
                                            <a asp-action="Delete" asp-route-Id="@item.Id">Delete</a>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- data table end -->
    </div>
</div>
<!-- main content area end -->
