@{
    ViewData["Title"] = "Details";
}


@{
    IEnumerable<Comment> comment = ViewData["Comment"] as IEnumerable<Comment>;
    IEnumerable<Recipe> latest = ViewData["Latest"] as IEnumerable<Recipe>;
    Recipe recipe = ViewData["Details"] as Recipe;
}

@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json_user_detail = HttpContextAccessor.HttpContext.Session.GetString("user_detail");
    Member user = null;

    if (json_user_detail != null)
    {
        JObject jsonResponse = JObject.Parse(json_user_detail);
        user = JsonConvert.DeserializeObject<Member>(json_user_detail.ToString());
    }

}

<!-- blog-post -->
<section class="blog-post centred" style="background-image: url('/images/recipe/@recipe.Thumbnail');">
    <div class="post-inner">
        <span class="category">Bakery</span>
        <h2>@recipe.Title</h2>
    </div>
</section>
<!-- blog-post end -->
<!-- sidebar-page-container -->
<section class="sidebar-page-container sec-pad-2 blog-details">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                @*content*@
                <div class="blog-details-content">
                    <div class="inner-box">
                        <blockquote>
                            <h3>Ingredents</h3>
                            <i class="icon-Quote"></i>
                            <p>“@Html.Raw(recipe.Ingredents)”</p>
                        </blockquote>
                        <div class="text">
                            <h3>Preparation</h3>
                            <p>@Html.Raw(recipe.Preparation)</p>
                        </div>
                    </div>
                    <div class="post-share-option clearfix">
                        <div class="text pull-left"><h3>We Are Social On:</h3></div>
                        <ul class="social-links pull-right clearfix">
                            <li><a href="blog-details.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="blog-details.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="blog-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                    <div class="comment-box">
                        <div class="group-title">
                            <h3>Comments</h3>
                        </div>
                        @foreach (var item in comment)
                        {
                        <div class="comment">
                            <figure class="thumb-box">
                                <img src="~/images/avatar.jpg" style="height: 80px; width: 80px;">
                            </figure>
                            <div class="comment-inner">
                                <div class="comment-info">
                                    <h4>
                                        @if (item.NameUser != null)
                                        {
                                            @item.NameUser
                                        }
                                        else
                                        {
                                            @Html.Raw("Anonymous")
                                        }
                                    </h4>
                                <span class="comment-time">@item.CreateAt.Value.ToString("dd MMMM yyyy")</span>
                                </div>
                                <p>@item.Content</p>
                                @if (item.isReplied == true)
                                {
                                    <div class="comment">
                                        <figure class="thumb-box">
                                            <img src="~/images/avatar-admin.jpg" style="height: 80px; width: 80px;">
                                        </figure>
                                        <div class="comment-inner">
                                            <div class="comment-info">
                                                <h4>Admin</h4>
                                            </div>
                                            <p>@item.Reply</p>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        }
                    </div>
                    <div class="comments-form-area">
                        <div class="group-title">
                            <h3>Comment</h3>
                        </div>
                        @if (TempData["CommentSuccess"] != null)
                        {
                            <p style="font-weight: bold; color: darkgreen;">@TempData["CommentSuccess"]</p>
                        }
                        @if (TempData["CommentError"] != null)
                        {
                            <p style="font-weight: bold; color: darkred;">@TempData["CommentError"]</p>
                        }
                        <form asp-action="Comment" asp-controller="Recipe" method="post" class="comment-form">
                            <div class="row clearfix">
                                @if (json_user_detail != null)
                                {
                                    <input type="hidden" name="NameUser" value="@user.Fullname" />
                                    <input type="hidden" name="EmailUser" value="@user.Email" />
                                }
                                else
                                {
                                    <input type="hidden" name="NameUser" value="" />
                                    <input type="hidden" name="EmailUser" value="" />
                                }
                                <input type="hidden" name="RecipeId" value="@recipe.RecipeId" />
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                    <textarea name="Content" placeholder="Leave A Comment"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                    <button type="submit" class="theme-btn-one">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    @*end content*@
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                <div class="blog-sidebar default-sidebar">
                    <div class="sidebar-widget post-widget">
                        <div class="widget-title">
                            <h3>Recent Posts</h3>
                        </div>
                        <div class="post-inner">
                            @foreach (var item in latest)
                            {
                                <div class="post">
                                    <figure class="post-thumb"><a asp-action="Details" asp-controller="Recipe" asp-route-RecipeId="@item.RecipeId"><img src="~/images/recipe/@item.Thumbnail" style="height: 80px; width: 80px;"></a></figure>
                                    <h5><a asp-action="Details" asp-controller="Recipe" asp-route-RecipeId="@item.RecipeId">@item.Title</a></h5>
                                    <h6 style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;">@item.Description</h6>
                                </div>
                            }

                        </div>
                    </div>
                    @*<div class="sidebar-widget sidebar-categories">
                        <div class="widget-title">
                            <h3>Flavor</h3>
                        </div>
                        <div class="widget-content">
                            <ul class="categories-list clearfix">
                                <li><a href="blog-details.html">Vanilla</a></li>
                                <li><a href="blog-details.html">Chocolate</a></li>
                                <li><a href="blog-details.html">Chocolate chip</a></li>
                                <li><a href="blog-details.html">Strawberry</a></li>
                                <li><a href="blog-details.html">Mango</a></li>
                                <li><a href="blog-details.html">Coffee</a></li>
                                <li><a href="blog-details.html">Cherry</a></li>
                                <li><a href="blog-details.html">Butterscotch</a></li>
                                <li><a href="blog-details.html">Walnut</a></li>
                                <li><a href="blog-details.html">Vanilla and strawberry (two in one)</a></li>
                                <li><a href="blog-details.html">Pistachio</a></li>
                                <li><a href="blog-details.html">Banana</a></li>
                                <li><a href="blog-details.html">Banana Chocolate chip</a></li>
                                <li><a href="blog-details.html">Chocolate almond</a></li>
                                <li><a href="blog-details.html">Chocolate truffle</a></li>
                                <li><a href="blog-details.html">Kiwi fruit</a></li>
                                <li><a href="blog-details.html">Pineapple</a></li>
                                <li><a href="blog-details.html">Fruit and nut</a></li>
                                <li><a href="blog-details.html">Cashew Caramel crunch</a></li>
                            </ul>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- sidebar-page-container end -->
